# Dependencies
node_modules/
/.pnp
.pnp.js

# Local .env file
.env.local
.env

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify

# IDEs
.vscode/
.idea/

# OS
Thumbs.db